<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Join | ChatApp</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>

    <body class="chat">
        <div class="chat__sidebar">
            <h3>Users</h3>
            <div id="users"></div>
        </div>

        <div class="chat__main">
            <ol id="messages" class="chat__messages"></ol>

            <div class="chat__footer">
                <form id="message-form">
                    <input name="message" autofocus autocomplete="off" type="text" placeholder="Message"/>
                    <button>Send</button>
                </form>
                <button id="send-location">Send Location</button>
            </div>
        </div>

        <script id="message-template" type="text/template">
            <li class="message">
                <div class="message__title">
                    <h4>{{from}}</h4>
                    <span>{{createdAt}}</span>
                </div>
                <div class="message__body">
                    <p>{{text}}</p>
                </div>
            </li>
        </script>

        <script id="location-message-template" type="text/template">
            <li class="message">
                <div class="message__title">
                    <h4>{{from}}</h4>
                    <span>{{createdAt}}</span>
                </div>
                <div class="message__body">
                    <a href="{{url}}" target="_blank">My current location</a>
                </div>
            </li>
        </script>


        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
        <script src="/js/libs/deparam.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>